<h1>My Articles</h1>
<%@articles.each do |article|%>
  <div class="container">
    <h2><%= article.name%></h2>
    <p><%= article.description%></p>
    <div>
      <%= link_to "Show", article_path(article)%> |
      <%= link_to "Edit", edit_article_path(article)%> |
      <%= link_to "Destroy", article_path(article), method: :delete, data:{confirm: "Are you sure?"}%>
    </div>
  </div>
<%end%>
<%= will_paginate @articles%>
<p><%= link_to "New article", new_article_path%></p>
