<h1>My Articles</h1>
<table border="1">
<%@articles.each do |article|%>
  <tr>
    <td><%= article.name%></td>
    <td><%= article.description%></td>
    <td><%= article.content%></td>
    <td><%= link_to "Show", article_path(article)%></td>
    <td><%= link_to "Edit", edit_article_path(article)%></td>
    <td><%= link_to "Destroy", article_path(article), method: :delete, data:{confirm: "Are you sure?"}%></td>
  </tr>
<%end%>
</table>
<p><%= link_to "New article", new_article_path%></p>
