<div class="panel panel-default">
  <div class="panel-heading">
    <h4>User:<%=@user.email%>; Articles (<%=@articles_count%>):</h4>
  </div>
  <div class="panel-body">
    <%if !@articles.empty?%>
      <table class="table">
        <% @articles.each do |article|%>
          <tr>
            <th><%=link_to "#{article.name}", article_path(article)%></th>
            <td><%= article.description%></td>
          </tr>
          <%end%>
      </table>
    <%end%>
  </div>
</div>

<%= will_paginate @articles, class: "text-center"%>
<p><%= link_to "Back", users_path, class: "btn btn-info"%></p>
